<app-navbar></app-navbar>
<div class="mainContent">
  <div class="ass">
    <div class="createAssignment">
      <h1>Uploaded Lectures</h1>
      <div class="create">Upload Lecture<i class="fa fa-circle-plus"></i></div>
    </div>
    <div class="assignmentBlock">
      <div class="cardContainer">
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/study.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h2 class="card-title">Lecture 1</h2>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/study.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h2 class="card-title">Lecture 2</h2>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/study.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h2 class="card-title">Lecture 3</h2>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/study.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h2 class="card-title">Lecture 4</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
