<nav>
  <div class="navbars">
    <div class="logo">
      <i class="fa-solid fa-graduation-cap" style="font-size: 40px"></i>
    </div>
    <ul class="navList">
      <li class="navitem" routerLink="/assignments">Assignments</li>
      <li class="navitem" routerLink="/lectures">Lectures</li>
      <li class="navitem" routerLink="/stats">Statistics</li>
      <li class="navitem" routerLink="/analytics">Analytics</li>
    </ul>

    <div class="profile">
      <i
        class="fa fa-user"
        style="font-size: 35px; cursor: pointer"
        routerLink="/user"
      ></i>
    </div>
  </div>
</nav>
