<app-navbar></app-navbar>

<div class="mainContent">
  <div class="ass">
    <div class="createAssignment">
      <h1>Assignments</h1>
      <div class="create">
        Create Assignment<i class="fa fa-circle-plus"></i>
      </div>
    </div>
    <div class="assignmentBlock">
      <div class="cardContainer">
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/study.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h2 class="card-title">Assignment 1</h2>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/study.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h2 class="card-title">Assignment 2</h2>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/study.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h2 class="card-title">Assignment 3</h2>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/study.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h2 class="card-title">Assignment 4</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
