<app-navbar></app-navbar>

<div class="userContent">
  <div class="containers">
    <div class="leftContainer">
      <div class="userSettings">
        <ul class="userItems">
          <li class="useritem" style="margin-top: 0px">
            <i class="fa fa-user"></i>
            <div class="profileName">Profile</div>
          </li>
          <li class="useritem">
            <i class="fa fa-pen"></i>
            <div class="profileName">Appereance</div>
          </li>
          <li class="useritem">
            <i class="fa fa-bell"></i>
            <div class="profileName">Notifications</div>
          </li>
          <li class="useritem">
            <i class="fa-brands fa-accessible-icon"></i>
            <div class="profileName">Accessibility</div>
          </li>
          <li class="useritem">
            <i class="fa-solid fa-lock"></i>
            <div class="profileName">Privacy And Security</div>
          </li>
          <li class="useritem">
            <i class="fa-sharp fa-solid fa-gear"></i>
            <div class="profileName">Settings</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="rightContainer">Right Container</div>
  </div>
</div>
