<div class="mainContainer">
  <app-navbar></app-navbar>

  <div class="mainContent">
    <div class="cardContainer">
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/study.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h2 class="card-title">CO-1st-D1-S1</h2>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/study.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h2 class="card-title">CO-1st-D1-S2</h2>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/study.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h2 class="card-title">CO-1st-D2-S1</h2>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/study.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h2 class="card-title">CO-1st-D2-S2</h2>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/study.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h2 class="card-title">CO-2nd-D1-S1</h2>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/study.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h2 class="card-title">CO-2nd-D1-S2</h2>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/study.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h2 class="card-title">CO-2nd-D2-S1</h2>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/study.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h2 class="card-title">CO-2nd-D2-S2</h2>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/study.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h2 class="card-title">CO-3rd-D1-S1</h2>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/study.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h2 class="card-title">CO-3rd-D1-S2</h2>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/study.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h2 class="card-title">CO-3rd-D2-S1</h2>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/study.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h2 class="card-title">CO-3rd-D2-S2</h2>
        </div>
      </div>
    </div>
  </div>
</div>
