<div class="mainContainer">
  <nav class="navbars">
    <div class="logo">
      <div class="account iconsize icn">
        logo
        <img
          src="../../../assets/account.png"
          alt=""
          routerLink="/navbar/profile"
        />
      </div>
    </div>

    <div class="icons">
      <div class="account iconsize icn">
        <img
          src="../../../assets/account.png"
          alt=""
          routerLink="/navbar/profile"
        />
      </div>
      <div class="notifications iconsize icn">
        <img
          src="../../../assets/notification.png"
          alt=""
          routerLink="/navbar/notification"
        />
      </div>
      <div class="order iconsize icn">
        <img
          src="../../../assets/shopping-bag.png"
          alt=""
          routerLink="/navbar/order"
        />
      </div>
      <div class="cart iconsize icn">
        <img src="../../../assets/cart.png" alt="" routerLink="/navbar/cart" />
      </div>
      <div class="liked iconsize icn">
        <img
          src="../../../assets/heart.png"
          alt=""
          routerLink="/navbar/liked"
        />
      </div>
    </div>

    <div class="serchBar">
      <div class="input-group">
        <div class="form-outline">
          <input
            type="search"
            id="form1"
            class="form-control searchText"
            placeholder="Search"
          />
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </nav>
</div>
