.mainContainer {
  width: 100%;
}

.cardContainer {
  margin-top: 50px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 23%;
  max-width: 26%;
  margin: 20px;
  cursor: pointer;
}

.card-img-top:hover {
  opacity: 0.8;
}

.card-title {
  margin-top: 10px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
